body {
  color: #40514e;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}
h1 {
  margin: 50px auto 0 auto;
  font-size: 5.56rem;
  color: #66bfbf;
  font-family: "Sacramento", cursive;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  margin: 50px auto 0 auto;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #003334;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.top-container {
  padding-top: 100px;
  position: relative;
  background-color: #eaf6f6;
}

.topCloud {
  position: absolute;
  top: 40px;
  right: 300px;
  width: 10%;
}

.bottomCloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
  width: 10%;
}

.mainCloud {
  margin-top: 10px;
}

.pro {
  text-decoration: underline;
}

.profile img {
  height: 200px;
  width: 200px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.firstSkill {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.secondSkill {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin: 100px 0;
}

.profile {
  width: 50%;
  margin: 0 auto;
}

hr {
  width: 5%;
  border-bottom: none;
  border: 6px dotted #eaf6f6;
  margin: 100px auto;
  border-bottom-width: 0;
}

.contactMessage {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px auto;
}

@media only screen and (max-width: 680px) {
  .top-container {
    height: 500px;
  }
  .mainCloud {
    padding-top: 100px;
    width: 80%;
    height: 30%;
  }
  .bottomCloud {
    left: 180px;
    top: 100px;
    width: 18%;
  }
  .topCloud {
    padding-top: 50px;
    top: 300px;
    right: 150px;
    width: 18%;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  .profile {
    width: 70%;
  }
  .skill-row {
    width: 70%;
  }
  .contactMessage {
    width: 70%;
  }
}
